@font-face {
  font-family: "iconfont"; /* Project id 3228011 */
  src: url('iconfont.woff2?t=1646652104331') format('woff2'),
       url('iconfont.woff?t=1646652104331') format('woff'),
       url('iconfont.ttf?t=1646652104331') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai47:before {
  content: "\e6a5";
}

